.active {
    color: var(--bs-primary) !important;
    background-color: #fff;
}

.mobile ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.mobile a {
    text-decoration: none;
    font-weight: 500;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;

    &.active {
        color: #fff !important;
        background-color: var(--bs-primary);
    }
}